
.app-wrapper {
    width: 1200px;
    margin: 40px auto 0;

    display: grid;
    grid-template-areas:
            "header header"
            "nav content";

    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}



